@import "~sass-rem";
@import "../../assets/variable.scss";

.input {
  background: $white-smoke;
  border-radius: rem(4px);
  border: 1px solid $white-smoke;
  border: 0;
  padding: 0.7rem 1.2rem;
  font-size: .98rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}
