@import "~sass-rem";
@import "../../assets/variable.scss";

.btn {
  &__primary {
    background: linear-gradient(91.98deg, $purple-heart 0%, $dark-orchid 100%);
    border-radius: rem(6px);
    padding: rem(10px) rem(8px);
    width: rem(150px);
    color: $white;
    outline: none;
    border-width: rem(1px);
    cursor: pointer;
    font-size: rem(10px);
  }

  &__facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $cerulean-blue;
    border-radius: rem(4px);
    color: $white;
    outline: none;
    cursor: pointer;
    border-width: rem(1px);
    padding: rem(4px) 14px;

    img {
      width: rem(20px);
      height: rem(20px);
      margin-right: rem(10px);
    }
  }

  &__google {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: $white;
    border-radius: rem(4px);
    border: rem(1.5px) solid $summer-sky;
    width: rem(115px);
    cursor: pointer;

    div:nth-child(1) {
      padding: rem(5px);

      img {
        width: rem(15px);
        height: rem(15px);
      }
    }

    div:nth-child(2) {
      background: $summer-sky;
      color: $white;
      text-align: center;
      padding: rem(7.5px) rem(7.5px);
      width: rem(200px);
    }
  }

  &__basic {
    background: -webkit-linear-gradient(
      90.58deg,
      $purple-heart 0%,
      $dark-orchid 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    outline: none;
    cursor: pointer;
    border-radius: rem(6px);
    padding: rem(6px) rem(30px);
    border: rem(1.5px) solid $dark-orchid;
    font-style: normal;
    font-weight: 500;
    font-size: rem(15px);
    line-height: rem(23px);
  }
}
