@import "~sass-rem";
@import "../../assets/variable.scss";

.btn {
  * {
    font: inherit;
    border: none;
  }

  &__primary {
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.1);
    background: linear-gradient(91.98deg, $purple-heart 0%, $dark-orchid 100%);
    border-radius: rem(4px);
    padding: 0.8rem 1.4rem;
    color: $white;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.15s ease;
    &:hover,
    &:active,
    &:focus {
      background: linear-gradient(
        91.98deg,
        darken($purple-heart, 10) 0%,
        darken($dark-orchid, 10) 100%
      );
    }
  }

  &__social {
    display: flex;
    align-items: stretch;
    border-radius: rem(4px);
    background: $white;
    width: 100%;
    height: 30px;
    cursor: pointer;
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 30px;
      height: 28px;
      border-radius: rem(2px);
    }
    .text {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 rem(10px);
    }
    &.google {
      border: 1px solid $summer-sky;
      background: $summer-sky;
      color: #fff;
      .icon {
        color: $summer-sky;
        background: $white;
      }
    }
    &.facebook {
      background: $cerulean-blue;
      color: $white;
      .text {
        padding-left: 0;
      }
    }
  }

  &__basic {
    display: flex;
    align-items: center;
    background: $white;
    outline: none;
    cursor: pointer;
    border-radius: rem(4px);
    padding: rem(4px) rem(30px);
    border-width: rem(1.5px);
    border-style: solid;
    font-style: normal;
    font-weight: 500;
    font-size: rem(15px);
    line-height: rem(23px);

    img {
      width: rem(15px);
      height: rem(15px);
    }
  }
}
