@import "~sass-rem";
@import "../../assets/mixin.scss";
@import "../../assets/variable.scss";

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__pending-trips {
    color: #fbbc05;
  }

  &__approved-trips {
    color: #47e6b1;
  }

  &__declined-trips {
    color: #eb4335;
  }

  &__total-trips {
    color: #1d1c1c;
  }
}
