@import "~sass-rem";
@import "../../assets/mixin.scss";
@import "../../assets/variable.scss";

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__pending-trips {
    color: #fbbc05;
  }

  &__approved-trips {
    color: #47e6b1;
  }

  &__declined-trips {
    color: #eb4335;
  }

  &__total-trips {
    color: #1d1c1c;
  }
  
  &__section-title {
    font-style: normal;
    font-weight: 600;
    font-size: 1.17rem;
    color: $custom-black;
    margin: 2rem 0;
  }
}
