@import "../../assets/mixin.scss";
@import "~sass-rem";

.logged-in-page {
  display: flex;

  &__content {
    width: 95%;
    display: flex;
    flex-direction: column;
  }

  &__components {
    padding: 0 rem(30px);
  }

  @include md {
    &__content {
      position: absolute;
    }

    &__components {
      padding: 0 rem(20px);
      position: relative;
      top: rem(70px);
    }
  }
}
