@import "../../assets/mixin.scss";
@import "~sass-rem";

.logged-in-page {
  display: flex;
  background: #f8f8f8;

  &__content {
    width: 95%;
    display: flex;
    flex-direction: column;
  }

  &__components {
    width: auto;
    padding: 2rem 4rem;
  }

  @include md {
    &__content {
      position: absolute;
      width: 100%;
    }

    &__components {
      padding: rem(30px) rem(20px);
      position: relative;
    }
  }
}
