@import "~sass-rem";
@import "../../assets/mixin.scss";
@import "../../assets/variable.scss";

.side-nav {
  display: flex;
  flex-direction: column;
  position: relative;
  width: rem(300px);
  background: $black-rock;
  z-index: 2;
  height: 100vh;

  &__logo {
    margin: 2rem 2.5rem 3rem;

    img {
      width: rem(50px);
      height: rem(50px);
    }
  }

  &__links {
    display: flex;
    flex-direction: column;

    a {
      display: flex;
      padding: 1.5rem 2.5rem;
      color: $white;
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      text-decoration: none;
      transition: all 0.15s ease;
      &:hover:not(.active) {
        background: rgba(255, 255, 255, 0.04);
      }
      &.active {
        border-left: 3px solid transparentize($purple-heart, 0.5);
        background: linear-gradient(
          92.12deg,
          transparentize($purple-heart, 0.7) 0%,
          transparentize($dark-orchid, 0.7) 100%
        );
      }

      .icon {
        margin-right: rem(15px);
      }
    }
  }

  @include xl {
    &__links {
      a {
        font-size: rem(16px);
      }
    }

    &__translate-right {
      transition-timing-function: ease-in;
      transition: 0.8s;
      transform: translateX(0px);
    }

    &__translate-left {
      transition-timing-function: ease-out;
      transition: 0.8s;
      transform: translateX(-300px);
    }
  }
}
