@import "~sass-rem";
@import "../../assets/mixin.scss";
@import "../../assets/variable.scss";

.notification {
    width: rem(400px);
    background: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: rem(20px);

    &__profile-image {
        position: relative;
        background-color: $custom-black;
        border-radius: 50%;
        width: rem(40px);
        height: rem(40px);
        cursor: pointer;

        img {
          width: rem(100%);
          height: rem(100%);
          border-radius: 50%;
        }
    }

    &__content-details {
      margin: 0 rem(10px);
    }

    &__content {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      margin: rem(2px) 0
    }
    &__time {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 10px;
      margin: 0;
      color: rgba(0, 0, 0, 0.32);
    }
}
