@import "~sass-rem";
@import "../../assets/variable.scss";

.forgot-password-form {
  flex: 1;
  padding: 7rem 3rem;

  &__title {
    h1 {
      font-size: 1.13rem;
      color: $purple-heart;
      font-style: normal;
      font-weight: 600;
      margin-bottom: 30px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    button {
      margin-top: rem(20px);
    }
  }
}
