@import "~sass-rem";
@import "../../assets/variable.scss";
@import "../../assets/mixin.scss";

.login-navigation {
  flex: 0 1 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
  background: $white-smoke;

  &__title {
    font-style: normal;
    font-weight: bold;
    color: $purple-heart;
    font-size: 2rem;
    max-width: rem(200px);
    background: -webkit-linear-gradient(91.56deg, $purple-heart 0%, $dark-orchid 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: rem(20px) 0;
  }

  &__subtitle {
    font-size: 0.89rem;
    max-width: rem(200px);
  }

  &__link {
    text-decoration: none;
  }

  @include md {
    display: none;
  }
}
