@import "~sass-rem";
@import "../../assets/variable.scss";
@import "../../assets/mixin.scss";

.login-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: rem(40px);
  background: $white-smoke;

  h1 {
    font-style: normal;
    font-weight: bold;
    color: #ab1ac2;
    font-size: rem(36px);
    display: flex;
    align-items: center;
    padding: rem(0px 0px);
    width: rem(200px);
    background: -webkit-linear-gradient(91.56deg, $purple-heart 0%, $dark-orchid 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  small {
    font-style: normal;
    color: #ab1ac2;
    font-weight: 500;
    font-size: rem(12px);
    line-height: 120%;
    display: flex;
    align-items: center;
    width: rem(150px);
    background: -webkit-linear-gradient(91.56deg, $purple-heart 0%, $dark-orchid 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__link {
    text-decoration: none;
  }

  img {
    width: rem(150px);
    height: rem(150px);
    padding: 0 rem(160px) 0 rem(0px);
  }

  @include md {
    display: none;
  }
}
