@import "~sass-rem";
@import "../../assets/mixin.scss";
@import "../../assets/variable.scss";

.home {
  &__header {
    display: flex;
    justify-content: space-between;
    padding: rem(50px) rem(100px);
  }

  &__header-logo {
    display: flex;
    align-items: center;
    text-align: center;

    img {
      width: rem(30px);
      height: rem(30px);
      margin-right: rem(18.25px);
      cursor: pointer;
    }

    span {
      font-style: normal;
      font-weight: 600;
      font-size: rem(14px);
      line-height: rem(14px);
      color: $sapphire;
      cursor: pointer;
    }
  }

  &__header-login {
    display: flex;
    align-items: center;
    text-align: center;

    img {
      width: rem(18px);
      height: rem(18px);
      margin-right: rem(20px);
    }

    span {
      font-style: normal;
      font-weight: 500;
      font-size: rem(12px);
      line-height: rem(14px);
      cursor: pointer;
      text-decoration: none;
    }
  }

  &__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 100px);
    padding: 6rem 0;
    @include md {
      min-height: initial;
    }
  }

  &__description-left {
    display: flex;
    flex-direction: column;
    padding-right: 20px;

    h1 {
      font-size: 2rem;
      margin-bottom: 20px;
    }

    p {
      max-width: 400px;
      font-style: normal;
      font-weight: 500;
      font-size: rem(13px);
      line-height: 150%;
      margin-bottom: rem(20px);
      font-size: 1rem;
      margin-bottom: 30px;
    }
  }

  &__destination-collection {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
  }

  &__content-title {
    font-style: normal;
    font-weight: 500;
    font-size: rem(18px);
    line-height: rem(21px);
    background: $black-russian;
  }

  &__description-right {
    img {
      width: rem(700px);
      @include lg {
        width: rem(500px);
      }
      @include md {
        width: rem(350px);
      }
      @include sm {
        display: none;
      }
    }
  }

  &__destination {
    padding: 7rem 0;
    background: lighten($white-smoke, 4);
    border-top: 1px solid rgba(0, 0, 0, 0.06);

    &-header {
      margin-bottom: 70px;

      h1 {
        font-size: rem(25px);
      }
    }
  }

  &__link {
    text-decoration: none;
  }
}
