@import "~sass-rem";
@import "../../assets/mixin.scss";
@import "../../assets/variable.scss";

.notification-page {
  width: rem(420px);
  height: rem(400px);
  background-color: white;
  position: absolute;
  right: rem(30px);
  margin: rem(70px) rem(120px);
  border-radius: rem(20px);
  z-index: 1;
}

@include md {
  .notification-page {
    width: rem(300px);
    height: rem(300px);
    right: rem(30px);
    margin: rem(70px) rem(120px);
    border-radius: rem(20px);
  }
}

@include sm {
  .notification-page {
    width: rem(300px);
    height: rem(250px);
    right: rem(-80px);
    top: rem(10px);
    border-radius: rem(10px);
  }
}
