@import "~sass-rem";
@import "../../assets/mixin.scss";
@import "../../assets/variable.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  &__logo {
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;

    span {
      font-style: normal;
      font-weight: 600;
      font-size: 1rem;
      color: $sapphire;
      margin-left: 14px;
    }
  }

  &__login {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 30px;
    transition: all 0.15s ease;

    &:hover {
      background: #eff3f6;
    }

    .icon {
      margin-right: 10px;
    }

    a {
      color: $black-russian;
    }
  }
}
