@import "~sass-rem";
@import "../../assets/variable.scss";

.login-form {
  flex: 1;
  padding: 5rem 3rem;

  &__title {
    h1 {
      font-size: 1.13rem;
      color: $purple-heart;
      font-style: normal;
      font-weight: 600;
      margin-bottom: 30px;
    }
  }

  &--col-2 {
    display: flex;
    > * {
      flex: 1;
      &:nth-child(1) {
        margin-right: rem(5px);
      }
      &:nth-child(2) {
        margin-left: rem(5px);
      }
    }
  }

  &__text {
    display: flex;
    justify-content: space-between;
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    button {
      margin-top: rem(20px);
    }
  }

  .info {
    font-style: normal;
    font-weight: 400;
    font-size: 0.89rem;
  }

  &__link {
    text-decoration: none;
  }
}
