@import "~sass-rem";
@import "../../assets/variable.scss";

.destination {
  margin-bottom: rem(20px);

  &__image {
    img {
      box-shadow: 0 10px 14px $black;
      width: 100%;
      height: rem(120px);
      object-fit: cover;
      border-radius: rem(4px);
      margin-bottom: rem(10px);
    }
  }

  &__content-title {
    margin-bottom: rem(5px);
  }

  &__content-address {
    display: flex;
    align-items: center;

    .icon {
      margin-right: rem(5px);
    }
    p {
      margin: 0;
      font-style: normal;
      font-weight: 500;
      font-size: 0.8rem;
      line-height: rem(16px);
    }
  }

  &__content-like-rating {
    display: flex;
    margin-top: rem(10px);

    * {
      vertical-align: text-top;
      font-size: 0.8rem;
    }

    span {
      margin-left: rem(5px);
      font-style: normal;
      font-weight: 500;
    }
  }

  &__content-rating {
    margin-right: rem(20px);
  }
}
