// Extra small smartphones (portrait view)
$screen-xs-max: 412px;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;

// Larger screens
$screen-xxl-min: 1366px;

// colors
$sapphire: #062679;
$black-russian: #111114;
$purple-heart: #4d17c0;
$dark-orchid: #ab1ac2;
$white: #ffffff;
$cerulean-blue: #2b62bc;
$summer-sky: #2d9cdb;
$white-smoke: #f2f2f2;
$purple-heart: #4d17c0;
$custom-black: rgba(0, 0, 0, 0.64);
$harley-davidson-orange: #e01717;
$kinda-pink: #f20066;
$black-rock: #363740;
$grey: #828282;
$black: (
  "0.1": rgba(0, 0, 0, 0.1),
  "0.6": rgba(0, 0, 0, 0.6),
  "0.64": rgba(0, 0, 0, 0.64),
  "0.32": rgba(0, 0, 0, 0.32),
  "0.04": rgba(0, 0, 0, 0.04),
  "0.02": rgba(0, 0, 0, 0.02)
);
$yellow: #ffc107;
