// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;

// colors 
$sapphire: #062679;
$black-russian: #111114;
$purple-heart: #4d17c0;
$dark-orchid: #AB1AC2;
$white: #FFFFFF;
