@import "~sass-rem";
@import "../../assets/mixin.scss";
@import "../../assets/variable.scss";

.logged-in-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: rem(100px);
  width: auto;
  padding: 0 4rem;

  &__hamburger {
    display: none;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 1.17rem;
    color: $custom-black;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: rem(150px);

    &__notification {
      position: relative;
      cursor: pointer;
    }

    &__notification-icon {
      width: rem(25px);
      height: rem(25px);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: all 0.15s ease;
      &:hover {
        background: #eff3f6 !important;
      }
    }

    &__notification-count {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      min-width: rem(18px);
      height: rem(18px);
      padding: 0 rem(5px);
      top: -5px;
      left: calc(100% - 12px);
      background: $harley-davidson-orange;
      border-radius: 30px;
      color: $white;
      font-size: rem(10px);
    }

    &__profile_photo {
      position: relative;
      background-color: $custom-black;
      border-radius: 50%;
      width: rem(40px);
      height: rem(40px);
      cursor: pointer;

      img {
        width: rem(100%);
        height: rem(100%);
        border-radius: 50%;
      }
    }

    &__search {
      width: rem(25px);
      height: rem(25px);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: all 0.15s ease;
      cursor: pointer;
      &:hover {
        background: #eff3f6 !important;
      }
    }
  }

  @include xl {
    padding: 0 1rem;

    &__hamburger {
      display: block;

      img {
        width: rem(20px);
        height: rem(20px);
      }
    }
  }
}
