@import "~sass-rem";
@import "../../assets/variable.scss";

.reset-password-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0 rem(40px);

  &__title {
    h1 {
      font-size: rem(15px);
      color: $purple-heart;
      font-style: normal;
      font-weight: 600;
      line-height: rem(38px);
      background: -webkit-linear-gradient(91.56deg, $purple-heart 0%, $dark-orchid 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__input-group {
      display: flex;
      flex-direction: column;
  }
}
