@import "~sass-rem";
@import "../../assets/mixin.scss";
@import "../../assets/variable.scss";

.not-found {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 100px);

    &__left {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 3rem;
        margin-bottom: rem(20px);
      }

      p {
        margin-bottom: rem(30px);
      }
    }

    &__right {
      img {
        max-width: rem(500px);
        @include md {
          width: rem(300px);
        }
      }
      @include sm {
        display: none;
      }
    }
  }
}
